@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');

body{
    margin: 0;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    min-width: 400px;
}

input{
    padding: 10px 10px;
    width: 100%;
    outline: none;
    color: rgb(82, 82, 82);
    box-sizing: border-box;
    border: 1px #464193 solid;
    margin-bottom: 5px;
}

li a{
    color: #464193;
    font-size: 14px;
    font-weight: bold;
    
}

button{
    padding: 10px 20px;
    outline: none;
    border: none;
    color: white;
    background-color: #464193;
    font-weight: 700;
    cursor: pointer;
}

button:hover{
    background-color: transparent;
    border: 1px #464193 solid;
    color: #464193;
}

#clear-btn{
    background-color: transparent;
    border: 1px #464193 solid;
    color: #464193;
}

#clear-btn:hover{
    color: white;
    background-color: #464193;
}
